html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%; 
    width: 100%;
}
.main-div1 {
    width: 100vw;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    margin: 10px;
}
.latest1
{
    width: calc(100vw-200px);
    height: 160px;
    border: 1px solid lightblue;
    border-radius: 5px;
    margin: 50px;
    display: flex;
    /* justify-content: space-between; */
}
.content1
{
    color: blueviolet;
    padding: 20px 0px 0px 20px;
    /* display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    align-content: flex-start; */

}
button
{
    border-color: blueviolet;
    background-color: white;
    color: blueviolet;
    border-radius: 5px;
    /* border: none; */
}
.graphDesign1 {
    width: 300px;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-end; */
    align-content: flex-start;
}

.graph-1, .graph-2, .graph-3, .graph-4, .graph-5, .graph-6, .graph-7, .graph-8, .graph-9, .graph-10,.graph-11,.graph-12,.graph-13,.graph-14,.graph-15{
    width: 20px;
    height: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.graph-1 {
    background: linear-gradient(to top, rgb(238, 73, 197), rgb(255, 192, 234));
    background-size: 50px;
    width: 200px;
}

.graph-2 {
    background: linear-gradient(to top, rgb(238, 73, 197), rgb(255, 192, 234));
    background-size: 40px;
    width: 150px;
}

.graph-3 {
    background: linear-gradient(to top, rgb(238, 73, 197), rgb(255, 192, 234));
    background-size: 40px;
    width: 200px;
}
.graph-4 {
    background: linear-gradient(to top, rgb(238, 73, 197), rgb(255, 192, 234));
    background-size: 40px;
    width: 80px;
}
.graph-5 {
    background: linear-gradient(to top, rgb(238, 73, 197), rgb(255, 192, 234));
    background-size: 40px;
    width: 120px;
}
.graph-6 {
    background: linear-gradient(to top, rgb(238, 73, 197), rgb(255, 192, 234));
    background-size: 40px;
    width: 180px;
}
.graph-7 {
    background: linear-gradient(to top, rgb(238, 73, 197), rgb(255, 192, 234));
    background-size: 40px;
    width: 110px;
}
.graph-8 {
    background: linear-gradient(to top, rgb(238, 73, 197), rgb(255, 192, 234));
    background-size: 40px;
    width: 100px;
}
.graph-9 {
    background: linear-gradient(to top, rgb(238, 73, 197), rgb(255, 192, 234));
    background-size: 40px;
    width: 150px;
}
.graph-10 {
    background: linear-gradient(to top, rgb(238, 73, 197), rgb(255, 192, 234));
    background-size: 40px;
    width: 70px;
}
.graph-11 {
    background: linear-gradient(to top, rgb(238, 73, 197), rgb(255, 192, 234));
    background-size: 40px;
    width: 150px;
}
.graph-12 {
    background: linear-gradient(to top, rgb(238, 73, 197), rgb(255, 192, 234));
    background-size: 40px;
    width: 100px;
}
.graph-13 {
    background: linear-gradient(to top, rgb(238, 73, 197), rgb(255, 192, 234));
    background-size: 40px;
    width: 120px;
}
.graph-14 {
    background: linear-gradient(to top, rgb(238, 73, 197), rgb(255, 192, 234));
    background-size: 40px;
    width: 100px;
}
.graph-15 {
    background: linear-gradient(to top, rgb(238, 73, 197), rgb(255, 192, 234));
    background-size: 40px;
    width: 150px;
}
